<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.dawnn.dawnn_client">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- FIXME: THIS IS BAD -->
    <application android:usesCleartextTraffic="true"/>
</manifest>
